@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: lightgoldenrodyellow;
}

.card{
    background-color: lightgoldenrodyellow;
    border-radius: 5%;
    border: 5px solid black;
    padding: 1rem;
}

/* .map {
    border: 3px solid red;
    border-radius: 5%;
} */

.result-card{
    background-color: lightgoldenrodyellow;
    align-items: baseline;
    width: 200px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5%;
    border: 5px solid black;
    font-size: 14px;
    flex-direction: row;
}

#results-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
} 